.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "overlap-holdings stock-details portfolio"
    "overlap-holdings stock-details sector-performance";
}
.overlap-holdings { grid-area: overlap-holdings; }
.stock-details { grid-area: stock-details; }
.portfolio { grid-area: portfolio; }
.sector-performance { grid-area: sector-performance; }

td {
  padding: 8px;
}