.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "sector-performance overlap-holdings stock-details"
    "sector-performance portfolio stock-details";
}
.sector-performance { grid-area: sector-performance; }
.overlap-holdings { grid-area: overlap-holdings; }
.stock-details { grid-area: stock-details; }
.portfolio { grid-area: portfolio; }

#root {
  font-family: initial;
}

.red {
  color: red;
}

.green {
  color: lightseagreen;
}

td {
  padding: 8px;
}